<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">
        <img src="./assets/images/logo.png" width="100"
        height="80">
    </a>
    <p class="navbar-brand">Recipe Manager</p>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link"  href="/recipes">Recipes <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
